.name {
    color: #0D0D0D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.subtitle {
    color: #646464;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.descr {
    color: #0D0D0D;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.antw__irirna  {
    display: flex;
    justify-content: start;
    margin-left: 61px;
    margin-bottom: 100px;
}
.antw__ivan {
    display: flex;
    justify-content: start;
    margin-left: 61px;
    margin-bottom: 104px;
}
.antw__ula {
    display: flex;
    justify-content: start;
    margin-left: 61px;
}
.about {
    margin-left: 61px;
}
.title_answ{
    margin-bottom: 60px;
}