.feed-form {
    margin-top: 36px;
    display: block;
    font-display: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 15px;
        bottom: none;
        padding: 0 20px;
        color: #4B4B4B;
        font-size: 14px;
        font-weight: 300;
        &:-moz-placeholder {
            color: red;
        }
        &:-ms-input-placeholder {
            color: red;
        }
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &__mt25 {
        margin-top: 25px;
    }
}